<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="web/core/tests/bootstrap.php" colors="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutChangesToGlobalState="true">
  <php>
    <ini name="error_reporting" value="32767"/>
    <ini name="memory_limit" value="-1"/>
    <env name="SIMPLETEST_BASE_URL" value="http://localhost"/>
    <env name="SIMPLETEST_DB" value="sqlite://localhost/sites/default/files/db.sqlite"/>
    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="/app/sites/default/files/browser_tests"/>
  </php>
  <testsuites>
    <testsuite name="storage_manager">
      <directory>web/modules/custom/storage_manager/tests</directory>
    </testsuite>
  </testsuites>
</phpunit>